body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
}


.box{
    width: 200px;
    height: 200px;
    background-color: red;
}

.box:hover{
    background-color: white;
}